/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #000000;
    background-image: url("images/yxz.png");
    background-size: auto 100%;
    background-position: center; 
    background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: auto;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: auto;
  min-height: 100%;

  padding: 0;
  padding-bottom: 5.5vh;
}


h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}


ul {
  margin: 0;
  padding: 0;
    width:  100%;
}

li {
    list-style: none;
}

li .text {
/*  margin-left: 10px;*/
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background-color:rgba(255, 255, 255, 0.3);
}

header .hide-completed {
  float: right;
}

.toggle-private {
  float: right;
  margin-right: 10px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.pageTitle{
    padding: 15px;
    margin: 0;
    width: 100%;
    background: white;
    background-color:rgba(255, 255, 255, 0.2);
    
    font-size: 1.5em;
    color: rgba(20, 20, 20, 0.8);
    display: inline-block;
}

.pageTitle:first-letter {
    text-transform: uppercase;
}



a {
    color: rgba(20, 20, 20, 0.8);
}

/* visited link */
a:visited {
    color: rgba(20, 20, 20, 0.8);
}

/* mouse over link */
a:hover {
    color: rgba(20, 20, 20, 0.8);
}

/* selected link */
a:active {
    color: rgba(20, 20, 20, 0.8);
}

.userLink{
    color: black;
}

/* visited link */
.userLink:visited {
    color: black;
}

/* mouse over link */
.userLink a:hover {
    color: black;
}

/* selected link */
.userLink a:active {
    color: black;;
}








/***** TopBar *****/

header {
  background: #000;
  background-color:rgba(60, 60, 60, 0.8);
    
  padding: 16px 15px 10px 15px;

  width: 100%;
  max-width: 600px;
  margin: 0;
  position: relative;
}

#login-dropdown-list{
    background: rgba(255, 255, 255, 0.9) !important;
}
.login-close-text{
    color: #5bc0de !important;
}

.login-button{
    background: #5bc0de !important;
    border: none !important
}

#login-buttons {
  display: block;
}

.loginButton{
    float: right; 
    padding-top: 3px;
}

.logo{
    float: left;
    color:rgba(255, 255, 255, 0.8);
    max-height: 35px;
    width: auto;
    margin: 0;
    padding: 0;
}

.new-task {
    margin: 0;
    padding: 0;
}

.title-in{
    background-color:rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    border: none;
    padding: 4.1px;
    margin: 0;
}

.new-task input:focus{
  outline: 0;
}

.upload-area .alert {
  position: relative;
  margin: 0;
    margin-left: 25%;
    padding: 4px;
    max-height: 50%;
    max-width: 50%;
    text-align: center;
}

.upload-area input[type="file"] {
    margin: 0;
    padding: 0;
    color: aliceblue;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  max-width: 100%;
  opacity: 0;
}

div.upld {
    text-align: center;
    position: relative;
    margin: 0;
    text-align: center;
    padding: 4px;

    background-color:rgba(255, 255, 255, 0.5);
}

div.upld input {
    margin: 0;
    padding: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  max-width: 100%;
    opacity: 0;
    overflow:hidden;
}

.sub-but{
    padding: 4px;
    margin: 0;
    height: 100%;
    width: 100%;
        overflow:hidden;
}

.sub-div{
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

.file-div{
    margin: 0;
    padding: 0;
    border-left: solid;
    border-width: thin;
}

.title-div{
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.loginButton a {
    color: white;
}

/* visited link */
.loginButton a:visited {
    color: #5bc0de;
}

/* mouse over link */
.loginButton a:hover {
    color: #5bc0de;
}

/* selected link */
.loginButton a:active {
    color: #5bc0de;;
}







/***** Nav *****/

footer {
  background-color:rgba(200, 200, 200, 1);
  padding: 0;
  margin: auto;

  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  height: 6vh; 
  z-index: 10;
    
  margin: auto; /* Will not center vertically and won't work in IE6/7.*/
  left: 0;
  right: 0;
}

.nav {
    background: transparent;
/*    background-color:rgba(0, 0, 0, 0.8);*/
    text-align: center;
    font-size: 1em;
    max-width: 600px;
/*    min-height:6vh !important;*/
    
/*    height: 100%;*/
    
    padding: 0;
    margin: 0;
/*    margin: auto;*/
    margin-right: auto;
    margin-left: auto;
/*    padding-top:2vh !important; */
}

.navli{
/*    padding: 5px;*/
    color: black;
}

.nav-active{
/*    background-color:rgba(255, 255, 255, 0.5);*/
}

.navdiv{
    border-right: solid;
    border-color: grey;
    border-width: thin;
    padding-top: 5px;
    padding-bottom: 10px;
    padding: auto;
    margin: auto;
}

.nav a {
    background: transparent;
    background: black;
    margin: 0;
    padding: 0;
}

.nav a:hover{
    color: aqua;
    background-color: darkcyan;
}

.blah{
/*    margin: 0;*/
/*    padding: 0;*/
}






/***** Post *****/

video {
  width: 100%    !important;
  height: auto   !important;
}

.postImage{
  width: 100%    !important;
  height: auto   !important;
}

.postCol{
/*    margin-left: 15%;*/
    margin-left: 80px;
}

.userCol{
    float: left;
    text-align: center;
    width: 13%;
}

.post{    
  position: relative;
  padding: 0px 0px 0px 0px;
  width:  100%;
    min-height: 10vh;
    margin: 0;
    min-height: 16vh;
}

.postTitle{
    font-weight: bold;
    font-size: 1.5em;
    color: rgba(20, 20, 20, 0.8);
    display: inline;
/*    	text-shadow: 2px 2px 4px #000000;*/
}

.postContent{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5%;
}

.postUsrImg{
/*
    margin-left: auto;
    margin-right: auto;
*/
    margin-bottom: 5px;
    border-radius: 50%;
    background: white;
    border: solid;
    border-width: 2px;
    width: 50px;
    height: 50px;
}

.publicPrivateButton{
    font-size: 0.8em;
    padding: 2px;
    margin-top: auto;
}

.postli{
    padding: 10px;
    margin-bottom: 10px;
    background-color:rgba(255, 255, 255, 0.2);
}

.col-div{
    margin: 0;
    padding: 0;
}

.row-div{
    margin: 0;
    padding: 0;
}

.postOwnerButtons{
    float: right;
}

.commentLink{
    float: right;
    margin-right: 5%;
}

.comment-div{
    min-height: 30px; 
/*    margin-right: 1%;*/
}

.noPosts{
    text-align: center;
}






/***** Connection *****/

.userli{
    background: white;
    background-color:rgba(255, 255, 255, 0.2);
  position: relative;
  list-style: none;
  padding: 0px 0px 0px 0px;
  width:  100%;
    min-height: 20%;
    margin: 0;
    margin-top: 10px
}

#connectionUsrImg{
    float: left;
    border-radius: 50%;
    background: white;
    border: solid;
    border-width: 2px;
    width: 60px;
    height: 60px;
}

.user{
    min-height: 12vh;
    padding: 10px;
}

.usrName{
    margin: 0;
    padding: 0;
    color: rgba(20, 20, 20, 0.8);
    display: inline-block;
    
}

.usrName:first-letter {
    text-transform:uppercase;
}

.userText{
    margin-left: 80px;
}

.str {
    margin: 0;
    padding: 0;
}





/***** Profile *****/

.profile-container{
    background: white;
    background-color:rgba(255, 255, 255, 0.2);
    min-height: 50vh;
    margin-bottom: 10px;
}

.profileImg{
    margin-top: 5%;
    margin-left: 25%;
    border-radius: 5%;
    background: white;
    border: solid;
    border-width: 2px;
    width: 50%;
    height: auto;
}

.userInfo{
    padding: 20px;
    padding-left: 5%;
}

.remove-connection{
    padding: 0;
    margin: 0;
}

.profileImgInput{
    background: #5bc0de;
    color: white;
    border-color: #5bc0de;
    margin: 0;
    padding: 0;
}

.profileImgForm{
    margin: 0;
    padding: 0;
}

.profileUpArea{
    margin: 0;
    padding: 0;
}

.oi{
    margin: 0;
    padding: 0;
}





/***** Map *****/

.map-container {
  background: white;
    background-color:rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 100%;  
  height: 85vh;
  min-height: 100%;
    padding: 10px;
    margin: 0;
}

.map-con2{
    width: 100%;
    max-width: 100%; 
    height: 75vh;
    min-height: 100%;
}

.map-container-login {
  height: 81vh;
}

.map-con2-login{
    height: 71vh;
}






/*      Photo drop down menu     */
.dropdown-menu{
    text-align: center;  
    background: rgba(255, 255, 255, 0.7) !important;
}

.dropdown-menu li{
    display: inline-block;   
}

.photo-dd {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

.dd-button {
    width: 100%;
    margin: 5px;
    font-size: 0.8em;
}



/*      Video Capture Styles      */
.lm-video-capture-video {
    display: none !important;
}
.lm-video-capture-record-stop-btn {
    display: none !important;
}
.lm-video-capture-record-start-btn {
    color: white;  
    width: 100% !important;
    text-align: center !important;
    font-size: 0.8em !important;
}


/*      Image full screen popup       */
.s-image-box{
    text-align: center !important;
}
.s-image-box-image{
    text-align: center !important;
    margin-top: auto;
    margin-bottom: auto;
}
