<template name="main">
  <div class="container">
    <header>  
      <div class="row">  
        <div class="col-md-6">
          <a href="{{pathFor route='home'}}">
              <img class="logo" src="/images/logo-white.png">
          </a>
        </div>
        <div class="col-md-6">
          <div class="loginButton">
            {{> loginButtons align="right"}}
          </div>
        </div>
      </div>
        
      {{#if currentUser}}
        {{> addPost}}
      {{/if}}  
    </header>
        
    {{> yield}}
      
    <footer>
      {{> navigation}}
    </footer>
  </div>
</template>


<!-- Nav bar -->
<template name="navigation">
  <div class="row">
    <ul class="nav nav-justified blah">
      {{#if currentUser}}
        <a href="{{pathFor route='home'}}">
          <div class="col-xs-3 col-md-3 navdiv nav-active"><li class="navli">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
<!--            <br>Local-->
          </li></div>
        </a>
        <a href="{{pathFor route='map'}}">
          <div class="col-xs-3 col-md-3 navdiv"><li class="navli">
            <span class="glyphicon glyphicon-map-marker"></span>
<!--            <br>Map-->
          </li></div>
        </a>
        <a href="{{pathFor route='connections' _id=userId}}">
          <div class="col-xs-3 col-md-3 navdiv"><li class="navli">
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
<!--            <br>Friends-->
          </li></div>
        </a>
        <a href="{{pathFor route='profile' _id=userId}}">
          <div class="col-xs-3 col-md-3 navdiv"><li class="navli">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
<!--            <br>Profile-->
          </li></div>
        </a>
      {{else}}
        <a href="{{pathFor route='home'}}">
          <div class="col-xs-6 col-md-6 navdiv nav-active"><li class="navli">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </li></div>
        </a>
        <a href="{{pathFor route='map'}}">
          <div class="col-xs-6 col-md-6 navdiv"><li class="navli">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          </li></div>
        </a>
      {{/if}}
    </ul>
  </div>
</template>



<!-- Post input template -->
<template name="addPost">
  <div class="row"> 
    <form class="new-task">
      <div class="col-xs-8 col-md-8 title-div">
        <input class="title-in" type="text" name="text" placeholder="Enter Post Title" maxlength="60"/>
      </div> 
      <div class="col-xs-2 col-md-2 file-div">
        <div class="upld">
<!--          <input type="file" name="file" id="file_vid">-->
          <input type="hidden" name="file" id="file_vid" value="">
          <div class="dropdown">
              <button class="dropdown-toggle photo-dd" type="button" data-toggle="dropdown" id="file_vid">
                  <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>{{> videoCaptureBasic}}</li>
                <li><button class="btn btn-info dd-photo-button dd-button">Photo</button></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-2 col-md-2 sub-div">
        <input type="submit" class="btn btn-info sub-but" value="Post" >
      </div>
    </form>
  </div>
</template>

<template name="videoCaptureBasic">
  <div class='padding'>
    {{> lmVideoCapture opts=opts}}
  </div>
</template>

<template name="imageCaptureMdg">
  <button class="btn btn-info dd-button">Photo</button>
</template>




<!-- Home -->
<template name="home">
    {{> posts}}
</template>



<!-- Map -->
<template name="map">
  <div class="row row-div"> 
    <div class="col-md-12 col-div">
      <div class="map-container {{#if currentUser}}map-container-login{{/if}}">
        <div class="map-con2 {{#if currentUser}}map-con2-login{{/if}}">
          {{#unless geolocationError}}
            {{> googleMap name="map" options=mapOptions}}
          {{else}}
            {{> googleMap name="map" options=mapOptions2}}
<!--            Geolocation failed: {{geolocationError}}-->
          {{/unless}}
        </div>
      </div>
    </div>
  </div>
</template>



<!-- Connections -->
<template name="connections">
    <strong class="pageTitle">{{username}}'s Connections</strong>
    {{> users usr=_id}}
</template>

<template name="users">
    <ul>
      {{#each cons usr}}
        {{> user}}
      {{/each}}
    </ul>
</template>

<template name="user">
  <li class="userli">
    <div class="user">
      <a href="{{pathFor route='profile' _id=_id}}">
        {{#if hasImage _id}}
          <img id="connectionUsrImg" src="{{imageUrl _id}}">
        {{else}}
          <img id="connectionUsrImg" src="/images/default1.png">
        {{/if}}
      </a>
      
      <button class="delete">&times;</button>
    
      <div class="userText">
        <a href="{{pathFor route='profile' _id=_id}}">
          <h4 class="usrName">{{username}}</h4>
        </a>
        <p>
          <strong class="str">Joined: </strong>{{joined createdAt}} <br>
        </p>
  <!--      <span>Friend since: </span>{{connectionDate usr _id}} <br>-->
      </div>
    </div>
  </li>
</template>



<!--Profile-->
<template name="profile">
    <div class="profile-container">
        
  <div class="row row-div"> 
    <div class="col-md-12">
      {{#if hasImage owner}}
        <div class="js-open-popup" data-image="{{imageUrl owner}}">
          <img class="profileImg" src="{{imageUrl owner}}">
        </div>
      {{else}}
        <img class="profileImg" src="/images/default1.png">
      {{/if}} 
      {{#if isOwner}}
        {{> upload_userImage}}
      {{/if}}
    </div>
  </div>

  <div class="userInfo">
    <div class="row"> 
      <div class="col-md-10">
        <h3 class="usrName">{{username}}</h3>
      </div>
      <div class="col-md-2">
        {{#if isOwner}}
          <!--if owner show nothing-->
        {{else}}
          {{#if currentUser}}
            {{#if isConnected}}
              <form class="remove-connection" method="post">
                <input type="hidden" name="ownerId" value="{{owner}}">
                <input type="submit" value="Disconnect" class="btn btn-info publicPrivateButton">
              </form>
            {{else}}
              <form class="add-connection" method="post">
                <input type="hidden" name="ownerId" value="{{owner}}">
                <input type="submit" value="Connect" class="btn btn-info publicPrivateButton">
              </form>
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    </div>
     
    <div class="row"> 
      <div class="col-md-12">
        <p>
          {{bio}}
          {{#if isOwner}}
            {{> editBio}}
          {{/if}}
        </p>
        
      </div>
    </div>
  </div>
        
    </div>
    
    
    <ul>
      {{#each usersPosts owner}}
        {{> post}}
      {{/each}}
    </ul>
    
</template>





<!-- Posts -->
<template name="posts">
    {{#if postCountTrue}}
      <ul>
        {{#each posts}}
          {{> post}}
        {{/each}}
      </ul>
    {{else}}
      <ul>
        <li class="postli noPosts">
          <Strong class="noPosts">No Posts In Range</Strong>
        </li>
      </ul>
    {{/if}}
</template>



<template name="singlePost">
  <ul>
    {{> post}}
      
    {{#if currentUser}}
    <li class="postli {{#if private}}private{{/if}}">
      <div class="comment-div">
        <form class="new-task">
          <div class="col-xs-10 col-md-10 title-div">
            <input class="title-in" type="text" name="text" placeholder="Enter Comment" />
          </div> 
          <div class="col-xs-2 col-md-2 sub-div">
            <input type="submit" class="btn btn-info sub-but" value="Post" >
          </div>
        </form> 
      </div>
    </li>
    {{/if}}
      
    {{#each comments _id}}
      {{> comment}}
    {{/each}}
 </ul>
    
</template>



<template name="post">
  <li class="postli {{#if private}}private{{/if}}">
    <div class="post">  
        
      <div class="row row-div"> 
        <div class="col-md-12 col-div">
          <div class="userCol">
            <a href="{{pathFor route='profile' _id=owner}}">
              {{#if userHasImage owner}}
                <img class="postUsrImg" src="{{userImageUrl owner}}">
              {{else}}
                <img class="postUsrImg" src="/images/default1.png">
              {{/if}} 
            </a>
          </div>
            
          <div class="postCol">
            {{#if isOwner}}
              <div class="postOwnerButtons">
                <button class="delete">&times;</button>
                <button class="toggle-private btn btn-info publicPrivateButton">
                  {{#if private}}
                    Friends
                  {{else}}
                    Public
                  {{/if}}
                </button>
              </div>
            {{/if}}    
            
            <a href="{{pathFor route='singlePost' _id=_id}}">
              <span class="postTitle">{{title}} </span>
            </a>
            <a href="{{pathFor route='profile' _id=owner}}" class="userLink">
              - <span class="usrName">{{username}}</span>
            </a>
              
            <div class="postContent">
              {{#if postIsImage url}}
                <div class="js-open-popup" data-image="{{url}}">
                    <img class="postImage" src="{{url}}">
                </div>
              {{else}}
                <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px"
                  controls preload="none" poster='http://video-js.zencoder.com/oceans-clip.jpg'
                  data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                  <source src="{{url}}" type='video/webm' />
                  <source src="{{url}}" type='video/mp4' />
                  <source src="{{url}}" type='video/quicktime' />
                  <source src="{{url}}" type='video/3gp' />
                  <source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
                </video>
              {{/if}}
            </div>
              
            <p>
              {{#if currentUser}}
                <button class="toggle-like btn btn-info publicPrivateButton">
                  {{#if liked}}
                    Unlike
                  {{else}}
                    Like
                  {{/if}}
                </button>
              {{/if}} 
                
              
              <a href="{{pathFor route='singlePost' _id=_id}}" class="commentLink">
                Commments ({{postCommentCount _id}})
              </a>
              <a href="{{pathFor route='singlePost' _id=_id}}" class="commentLink">
                Likes ({{postLikeCount _id}})
              </a>
            </p>
            
          </div>
        </div>
      </div>
        
    </div>      
  </li>
</template>





<!-- Comments -->

<template name="comment">
  <li class="userli">
    <div class="user">
<!--      <a href="{{pathFor route='profile' _id=owner}}">-->
        {{#if userHasImage owner}}
          <img id="connectionUsrImg" src="{{userImageUrl owner}}">
        {{else}}
          <img id="connectionUsrImg" src="/images/default1.png">
        {{/if}}
<!--      </a>-->
      
      <button class="delete">&times;</button>
    
      <div class="userText">
        <a href="{{pathFor route='profile' _id=_id}}">
          <h4 class="usrName">{{username owner}}</h4>
        </a>
        <p>
          {{text}} <br>
        </p>
  <!--      <span>Friend since: </span>{{connectionDate usr _id}} <br>-->
      </div>
    </div>
  </li>
</template>





<!-- Upload templates -->

<template name="upload_userImage">
  <div class="upload-area profileUpArea">
    <form id="upload profileImgForm">
      <p class="alert alert-info text-center profileImgInput">
        <span>Click to Upload Profile Image</span>
        <input type="file" name="file" class="oi" accept="image/*">
      </p>
    </form>
  </div>
</template>






<!-- File display template -->

<template name="files">
  <div class="files">
    <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px"
      controls preload="none" poster='http://video-js.zencoder.com/oceans-clip.jpg'
      data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
    <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
    <source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
  </video>
<!--
    {{#each files}}
      {{> file}}
    {{else}}
      <p class="alert alert-warning">No files uploaded yet!</p>
    {{/each}}
-->
  </div>
</template>

<template name="file">
  <div class="file">
    <div class="preview">
      <a href="{{url}}" target="_blank"></a>
      {{#if isImage url}}
        <img src="{{url}}" alt="{{url}}">
      {{else}}
        <i class="fa fa-file-o"></i>
      {{/if}}
    </div>
    <input type="text" class="form-control" value="{{url}}">
  </div>
</template>






<template name="editBio">
  <a href="#" id="add" class="btn btn-info publicPrivateButton">Edit</a>
  {{> modalTemplate}}
</template>


<template name="modalTemplate">
  <div class="modal fade" id="bioModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Edit bio</h4>
        </div>

        <div class="modal-body">
          <label for="bio">Bio</label>
            <textarea rows="4" cols="40" type="text" id="bioText" maxlength="200"></textarea>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="save">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</template>











<!--

<template name="categoryPageItemImage">
    <div class="image-preview">
        <div class="js-activate-s-image-box" data-full-image-src="{{fullUrl}}" style="background-image: url({{previewUrl}})"></div>
    </div>
</template>
-->
